*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Item-inside{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 370px;   
}
.card{
    border: none !important;
    outline: none !important;
}
.card:hover{
    background-color: rgb(241, 248, 250);
}
.Item-inside .img-fluid{
    height: 20vh;
}